---
layout: default
title: Home
---

<div id="404error" style="display: none; min-height: 80px; background-color: #d74034; text-align: center; color: white; line-height: 80px; font-weight: bold;">Hmm. Looks like that page doesn't exist. Perhaps try the <a style="color: #fff; border-bottom: 1px dotted #fff;" href="/faq">FAQ</a>? If all else fails, <a style="color: #fff; border-bottom: 1px dotted #fff;" href="/contact">contact us</a>.</div>
<div class="home">
  <section class="full hero">
    <div class="container">
      <div class="hero-content">
        <h1>These people are<br>building something great.</h1>
        <p>
          Startup Shell is the student-run coworking space and incubator at the University of Maryland. We foster entrepreneurship through collaboration.
        </p>
        <div class="button-group">
          <a href="{{ site.baseurl }}/membership" class="button">Apply for Membership</a>
          <a href="#learn-more" class="button button-white">Learn More</a>
        </div>
      </div>
    </div>
  </section> <!-- /.hero -->

  <div class="container">
    <section id="learn-more">
      <h2>A Community of Entrepreneurs</h2>
      <div class="info">
        <h3 class="sm-underline">Designed to Catalyze Growth</h3>
        <p>Startup Shell was founded out of a storage closet in 2012 with the mission of creating an entrepreneurship community for students at the University of Maryland.</p>
        <div class="stats">
          <div class="stat">
            <span>200+</span> founders
          </div>
          <div class="stat">
            <span>60+</span> ventures
          </div>
          <div class="stat">
            <span>$20M</span> total value
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box-grid">
          <div class="box-grid-item">
            <a href="http://redspread.com" target="_blank"><img src="{{ site.baseurl }}/assets/ventures/logo_redspread.svg" alt="Redspread"></a>
          </div>
          <div class="box-grid-item">
            <a href="http://drinkjavazen.com" target="_blank"><img src="{{ site.baseurl }}/assets/ventures/logo_javazen.svg" alt="Javazen"></a>
          </div>
          <div class="box-grid-item">
            <a href="http://imaginex.co" target="_blank"><img src="{{ site.baseurl }}/assets/ventures/logo_imaginex.svg" alt="Imaginex"></a>
          </div>
          <div class="box-grid-item">
            <a href="http://gotechnica.org" target="_blank"><img src="{{ site.baseurl }}/assets/ventures/logo_technica.svg" alt="Technica"></a>
          </div>
          <div class="box-grid-item">
            <a href="http://cardbuddywallet.com" target="_blank"><img src="{{ site.baseurl }}/assets/ventures/logo_cardbuddy.svg" alt="Cardbuddy"></a>
          </div>
          <div class="box-grid-item">
            <a href="http://milimill.co" target="_blank"><img src="{{ site.baseurl }}/assets/ventures/logo_minimill.svg" alt="Minimill"></a>
          </div>
          <div class="box-grid-item">
            <a href="http://bitca.mp" target="_blank"><img src="{{ site.baseurl }}/assets/ventures/logo_bitcamp.svg" alt="Bitcamp"></a>
          </div>
          <div class="box-grid-item">
            <a href="http://everestgrooming.com" target="_blank" rel="dofollow"><img src="{{ site.baseurl }}/assets/ventures/logo_everest.svg" alt="Everest Grooming"></a>
          </div>
          <div class="box-grid-item">
            <a href="https://angel.co/kivvik" target="_blank"><img src="{{ site.baseurl }}/assets/ventures/logo_kivvik.svg" alt="Kivvik"></a>
          </div>
        </div>
        <div class="box-link"><a href="{{ site.baseurl }}/ventures">See All Ventures &#8594;</a></div>
      </div>
    </section>
    <hr>
    <section>
      <h2>First Class Partners and Mentors</h2>
      <div class="box">
        <div class="box-grid">
          <div class="box-grid-item">
            <a href="http://www.baesystems.com/" target="_blank"><img src="{{ site.baseurl }}/assets/partners/logo_bae.png" alt="BAE Systems"></a>
          </div>
          <div class="box-grid-item">
            <a href="http://uber.com" target="_blank"><img src="{{ site.baseurl }}/assets/partners/logo_uber.png" alt="Uber"></a>
          </div>
          <div class="box-grid-item">
            <a href="https://aws.amazon.com/" target="_blank"><img src="{{ site.baseurl }}/assets/partners/logo_aws.png" alt="AWS"></a>
          </div>
          <div class="box-grid-item">
            <a href="http://digitalocean.com" target="_blank"><img src="{{ site.baseurl }}/assets/partners/logo_digitalocean.png" alt="Digital Ocean"></a>
          </div>
          <div class="box-grid-item">
            <a href="http://www.umd.edu" target="_blank"><img src="{{ site.baseurl }}/assets/partners/logo_umd.png" alt="UMD"></a>
          </div>
          <div class="box-grid-item">
            <a href="http://dropbox.com" target="_blank"><img src="{{ site.baseurl }}/assets/partners/logo_dropbox.png" alt="Dropbox"></a>
          </div>
        </div>
        <div class="box-link"><a href="{{ site.baseurl }}/partners">See All Partners &#8594;</a></div>
      </div>
      <div class="slider-sync">
        <div class="slider-quote-select">
          {% for testament in site.data.testaments %}
            <div class="slider-quote-image">
              <img src="{{ site.baseurl }}/assets/testaments/portrait_{{ testament.image }}.jpg">
            </div>
          {% endfor %}
        </div>
        <div class="slider-quote">
          {% for testament in site.data.testaments %}
          <div class="quote">
            <div class="source">{{ testament.name }}, {{ testament.position }} @ {{ testament.company }}</div>
            <div class="quote-text">{{ testament.quote }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <hr>
    <section>
      <h2>A Space for Collaboration</h2>
      <div class="info">
        <div class="info-block">
          <h3 class="sm-underline">Grind Night</h3>
          <p>Work, play, and learn together. Make friends and start new projects.</p>
        </div>
        <div class="info-block">
          <h3 class="sm-underline">Shell Talk</h3>
          <p>Hear from and network with industry veterans and experts.</p>
        </div>
        <div class="info-block">
          <h3 class="sm-underline">Shell Workshop</h3>
          <p>Learn a new skill in a hands on setting taught by talented individuals.</p>
        </div>
        <div class="info-block">
          <h3 class="sm-underline">Shell Expo</h3>
          <p>Meet our founders and see the companies they are building.</p>
        </div>
      </div>
        <div class="events-container">
            <div class="event-spinner"><span class="fa fa-spinner fa-spin"></span></div>
            <div id="noEvents">No events are currently scheduled. Check back soon!</div>
            <div class="events">
                  <!-- events populate here -->
            </div>
            <div class="box-link"><a href="{{ site.baseurl }}/events">See All Events &#8594;</a></div>
        </div>
    </section>
  </div>



</div> <!-- /home -->

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "name": "Startup Shell",
  "description": "Startup Shell is a student-run coworking space and incubator at the University of Maryland. We foster entrepreneurship through collaboration.",
  "url": "http://www.startupshell.org",
  "email": "hello@startupshell.org",
  "foundingDate": "2013-07-10",
  "logo": "http://startupshell.org/assets/shell-logo-wire.svg",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "387 Technology Dr #1100",
    "addressLocality": "College Park",
    "addressRegion": "Maryland"
  },
  "sameAs": [
    "http://www.facebook.com/startupshell",
    "http://instagram.com/startup_shell",
    "http://twitter.com/startup_shell",
    "http://www.youtube.com/c/StartupShellOrg"
  ]
}
</script>
