<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{% if page.title != 'Home' %}{{ page.title }} - {% endif %}{{site.title}}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="robots" content="nofollow" />
    <meta itemprop="name" content="{{ site.title }}">
    <meta itemprop="description" content="{{ site.description }}">
    <meta itemprop="image" content="{{ "/assets/cover.jpg" | prepend: site.url }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@startupshell">
    <meta name="twitter:title" content="{% if page.title %}{% if page.title != 'Home' %}{{ page.title }} - {% endif %}{{site.title}}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:creator" content="@startupshell">
    <meta name="twitter:image:src" content="{{ "/assets/cover.jpg" | prepend: site.url }}">
    <meta name="twitter:domain" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Open Graph data (Facebook) -->
    <meta property="og:title" content="{% if page.title %}{% if page.title != 'Home' %}{{ page.title }} - {% endif %}{{site.title}}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:image" content="{{ "/assets/cover.jpg" | prepend: site.url }}" />
    <meta property="og:description" content="{{ site.description }}" />

    <!-- Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/icons/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/icons/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/icons/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{ site.baseurl }}/assets/icons/favicons/manifest.json">
	<link rel="mask-icon" href="{{ site.baseurl }}/assets/icons/favicons/safari-pinned-tab.svg" color="#d63c33">
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/icons/favicons/favicon.ico">
	<meta name="msapplication-config" content="{{ site.baseurl }}/assets/icons/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="{{ "/css/main.css?v=2.6" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:600,400,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script type="text/javascript">
    //<![CDATA[
      // swap 'event-loading' class for 'event-loaded'
      function eventLoaded(img){
        img.classList.add('event-loaded');
        img.classList.remove('event-loading');
      };
    //]]>
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60441414-1', 'auto');
      ga('send', 'pageview');

    </script>

</head>
