<div class="page-press">
<section class="full hero">
    <div class="container">
      <p></p>
      <a href="/press">&#8592; Return to Press Home</a>
      <p></p>
      <h3>FOR IMMEDIATE RELEASE<br />{{ page.date | date: '%B %d, %Y' }}</h3>
      <h4 class="space-above">Contacts:</h4>
      <strong>{{ page.presscontactname }}</strong><br />
      {{ page.presscontactemail }}<br />
      {{ page.presscontactphone }}
      <div class="hero-content hero-plain">
        <h2>{{ page.title }}</h2>
      </div>
    </div>
  </section> <!-- /.hero -->

<section class="press-release">
    <div class="container">
      <center><h4>{{ page.subtitle }}</h4></center>
      <hr />
      {{ content }}
      <p></p>
      <p>Permalink: <a href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a></p>
    </div>
</section>
</div>