.page-contact {
    .directors {
        @include span-columns(12);
        @include media($desktop) {
            @include span-columns(6);
        }
        .director {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .director-image {
                width: 120px;
                height: 120px;
                img {
                    max-width: 100%;
                }
            }
            .director-meta {
                margin-left: 20px;
                color: $gray;
                font-weight: 600;
                p {
                    margin-bottom: 6px;
                }
            }
        }
    }
    .location {
        @include span-columns(12);
        @include media($desktop) {
            @include span-columns(6);
        }
        .map {
            iframe {
                max-width: 100%;
                height: 320px;
                margin-bottom: 10px;
            }
        }
        .address {
            p {
                color: $gray;
                font-weight: 600;
                margin-bottom: 3px;
            }
        }
    }
}
