.page-donate {
    .donate-row {
    	@include row();
    	margin-top: $space;
    	color: $gray;
    	font-weight: 600;
        .donate-explain {
            @include span-columns(12);
            @include media($desktop) {
                @include span-columns(6);
            }
        }
        .donate-box {
            @include span-columns(12);
            @include media($desktop) {
                @include span-columns(6);
            }
        }
        .footnote {
        	font-weight: normal;
        }
    }
    .wells {
        a {
            @include media($desktop) {
                @include span-columns(4);
            }
        }
    }
    ul {
        list-style: disc;
        margin-left: 0.6em;
        padding: 0.8em;
        li {
            padding-bottom: 0.6em;
        }
    }
    .x-alert {
        position: relative;
        margin-bottom: 1.5em;
        border-left: 5px solid #f6dca7;
        padding: 0.824em 2.25em 1em 1.15em;
        font-size: 14px;
        line-height: 1.5;
        color: #c09853;
        background-color: #fcf8e3;
    }
    .x-alert-info {
        background-color: #d9edf7;
        border-color: #b3d1ef;
        color: #3a87ad;
    }
}
