.page-donate {
    .donate-row {
    	@include row();
    	margin-top: $space;
    	color: $gray;
    	font-weight: 600;
        .donate-explain {
            @include span-columns(12);
            @include media($desktop) {
                @include span-columns(6);
            }
        }
        .donate-box {
            @include span-columns(12);
            @include media($desktop) {
                @include span-columns(6);
            }
        }
        .footnote {
        	font-weight: normal;
        }
    }
    .wells {
        a {
            @include media($desktop) {
                @include span-columns(4);
            }
        }
    }
}
