.event {
  @include media($mobile) {
    @include span-columns(4);
    margin-bottom: $space;
    text-align: center;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  @include media($tablet) {
    @include span-columns(4);
    @include omega(2n);
    margin-bottom: 1.5*$space;
    text-align: left;
  }
  @include media($desktop) {
    @include span-columns(4);
    @include omega-reset(2n);
  }

  &:hover {
    @include shadow();
  }

  .details {

    .image {
      width: 100%;
      height: auto;
      max-height: 143px;
      img {
        margin: auto;

      }

      &.no-fb {
        background-color: $white;
      }
    }

    .meta {
      @include media($tablet) {
        padding-left: 14px;
      }
      margin-top: 6px;
      .title {
        
      }

      p {
        font-weight: 600;
        color: $light-gray;
      }
    }
  }
}

.event .image {
  @extend .ratio;
  @extend .fivebythree;
}
