.rounded {
    border-radius: $radius;
}

.input-element {
    border: 1px solid $light-gray;
    @extend .rounded;
    padding-left: 16px;
}

.input-submit {
	background: $red;
	padding-left: 10px;
	padding-right: 10px;
	color: $white;
	font-weight: 600;
	border: none;
	padding-bottom: 2px;
    -webkit-appearance: none;
    &:hover {
        background: $dark-red;
        cursor: pointer;
    }
}

.input-group {
    .input-element {
        padding: 6px 16px;
        &:focus {
          outline: none;
        }
        &[type='email'] {
        	border-right: none;
        	border-radius: $radius 0 0 $radius;
        }
        &[type='submit'] {
        	border-left: none;
        	border-radius: 0 $radius $radius 0;
        	margin-left: -6px;
        }
    }
    .input-submit {
        font-weight: 600;
        padding: 7px 16px;
    }
}
