.page-membership {
    .notify {
        text-align: center;
        p {
            color: $gray;
        }
    }
    .tracks {
        @include row();
        .track {
            @include span-columns(12);
            margin-bottom: $space;
            &:last-child {
                margin-bottom: 0;
            }
            @include media($desktop) {
                @include span-columns(6);
                margin-bottom: 0;
            }
            p {
                font-weight: 600;
            }
        }
    }
    .wells {
        a {
            @include media($desktop) {
                @include span-columns(4);
            }
        }
    }
}
