// COLORS

$white:			#FFF;
$black:			#000;

$gray:	 		#101011;
$medium-gray:	#888;
$light-gray:	#808080;
$shade-gray:	#EEEEEE;

$red: 			#D74034;
$dark-red:		darken($red, 10%);

// DIMENSIONS

$space:		em(64);
$radius:	6px;


// TYPOGRAPHY

$base-size: 1em;
$h1-size: 	2.5em;
$h2-size: 	2em;
$h3-size: 	1.33em;

@include media($mobile) {
    $h1-size: 	2.1em;
	$h2-size: 	1.7em;
	$h3-size: 	1.3em;
 }

// OMEGA RESET
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// SHADOW
@mixin shadow($clickable: false, $show: true) {
	@if $show == true {
		box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
		@if $clickable == true {
			&:hover {
				transform: translateY(-1px);
	    		box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
			}
		}
	}
	@else {
		box-shadow: none;
		&:hover {
			transform: translateY(0);
		}
	}
}

// VENTURE SHADOW
@mixin venture-shadow($clickable: false, $show: true) {
	@if $show == true {
		box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
		@if $clickable == true {
			&:hover {
				transform: translateY(-1px);
	    		box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
			}
		}
	}
	@else {
		box-shadow: none;
		&:hover {
			transform: translateY(0);
		}
	}
}