.venture-item {
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    margin: 1em 0;
    @include media($mobile) {
        width: 45%;
    }
    @include media($tablet) {
        width: 24%;
    }
    @include media($desktop) {
        width: 24%;
    }
    img {
        max-width: 100%;
    }
    p {
        color: $black;
        text-align: center;
        span {
            font-style: italic;
            color: $light-gray;
            margin-right: 2px;
        }
    }
}

.hero {
    h1 {
        color: $gray;
    }
}

.page-partners {
    .venture-item {
        &:hover {
            @include shadow();
        }
    }
}
