.venture-item {
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    margin: 1em 0;
    @include media($mobile) {
        width: 45%;
    }
    @include media($tablet) {
        width: 24%;
    }
    @include media($desktop) {
        width: 24%;
    }
    img {
        max-width: 100%;
    }
    p {
        color: $black;
        text-align: center;
        span {
            font-style: italic;
            font-size: 0.7em;
            margin-right: 2px;
            color: #696969;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 3px;
            border: 1px solid #696969;
        }
    }
    &:hover {
        @include venture-shadow();
        .venture-item-name {
            visibility: visible;
            opacity: 1;
        }
        .venture-item-social {
            visibility: visible;
            opacity: 1;
        }
    }
    .venture-item-name {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        color: $black;
        text-align: center;
    }
    .venture-item-social {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        a {
            color: $black;
            transition: .1s;
            padding-left: 5px;
        }
        a:hover {
            color: $red;
        }
    }
}

.hero {
    h1 {
        color: $gray;
    }
}

.page-partners {
    .venture-item {
        &:hover {
            @include shadow();
        }
    }
}