---
layout: default
title: Partners
---

<div class="page-partners">

  <section class="full hero">
    <div class="container">
      <div class="hero-content hero-plain">
        <h2>Partners</h2>
        <div class="hero-subheader">Startup Shell is made possible through the resources, support, and guidance provided by our partners. <br /> Want to get involved? <a href="mailto:hello@startupshell.org?subject=Partner with Startup Shell">Become a Partner</a></div>
      </div>
    </div>
  </section> <!-- /.hero -->

<section class="venture-grid">
<div class="container">
<h3 class="sm-underline">Signature Partners</h3>
  <ul>
  {% for partner in site.data.partners %}
    {% if partner.type == 'signature' %}
    <li class="venture-item">
      {% if partner.website %}<a href="{{ partner.website }}" target="_blank">{% endif %}
        <img src="{{ site.baseurl }}/assets/partners/logo_{{partner.image}}.png" alt="{{ partner.name }}">
      {% if partner.website %}</a>{% endif %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  </div>
</section>

<section class="venture-grid">
<div class="container">
<h3 class="sm-underline">Campus Partners</h3>
  <ul>
  {% for partner in site.data.partners %}
  	{% if partner.type == 'campus' %}
    <li class="venture-item">
      {% if partner.website %}<a href="{{ partner.website }}" target="_blank">{% endif %}
        <img src="{{ site.baseurl }}/assets/partners/logo_{{partner.image}}.png" alt="{{ partner.name }}">
      {% if partner.website %}</a>{% endif %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  </div>
</section>

<section class="venture-grid">
<div class="container">
<h3 class="sm-underline">Resource Partners</h3>
  <ul>
  {% for partner in site.data.partners %}
    {% if partner.type == 'resource' %}
    <li class="venture-item">
      {% if partner.website %}<a href="{{ partner.website }}" target="_blank">{% endif %}
        <img src="{{ site.baseurl }}/assets/partners/logo_{{partner.image}}.png" alt="{{ partner.name }}">
      {% if partner.website %}</a>{% endif %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  </div>
</section>

<section class="venture-grid">
<div class="container">
<h3 class="sm-underline">Legal Partners</h3>
  <ul>
  {% for partner in site.data.partners %}
    {% if partner.type == 'legal' %}
    <li class="venture-item">
      {% if partner.website %}<a href="{{ partner.website }}" target="_blank">{% endif %}
        <img src="{{ site.baseurl }}/assets/partners/logo_{{partner.image}}.png" alt="{{ partner.name }}">
      {% if partner.website %}</a>{% endif %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  </div>
</section>

<section class="venture-grid">
<div class="container">
<h3 class="sm-underline">Venture Capital Partners</h3>
  <ul>
  {% for partner in site.data.partners %}
    {% if partner.type == 'capital' %}
    <li class="venture-item">
      {% if partner.website %}<a href="{{ partner.website }}" target="_blank">{% endif %}
        <img src="{{ site.baseurl }}/assets/partners/logo_{{partner.image}}.png" alt="{{ partner.name }}">
      {% if partner.website %}</a>{% endif %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  </div>
</section>

</div>
